<!--
  Generated template for the EvenDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
  <div>{{mensaje}}</div>
	<!-- <h5>{{event.title}}</h5>	
	<div><b>Descripción:</b><br>{{event.description}}</div> -->
	<ion-list>		 
    <ion-item>
      <ion-label color="primary" stacked>Titulo</ion-label>
      <ion-textarea rows="2" [(ngModel)]="event.title" [readonly]="!event.home" placeholder="Ingrese una Titulo"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Fecha Inicio</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="event.startTime" name="startTime" [disabled]="!event.home"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Fecha Fin</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]="event.endTime" name="endTime" [disabled]="!event.home"></ion-datetime>
    </ion-item> 
    <ion-item>
      <ion-label color="primary" stacked>Descripción</ion-label>
      <ion-textarea rows="6" [(ngModel)]="event.description" [readonly]="!event.home" placeholder="Ingrese una Descripción"></ion-textarea>
    </ion-item>
		<ion-item>
			<ion-label color="primary" stacked>Ubicación</ion-label>
  		<ion-input type="text" [(ngModel)]="event.ubicacion" [readonly]="!event.home" name="ubicacion"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label color="primary" stacked>Guia</ion-label>
  		<ion-input type="text" [(ngModel)]="event.guia" [readonly]="!event.home" name="guia"></ion-input>
		</ion-item>    

	</ion-list>


  <button *ngIf="!event.home" ion-button block (click)="participar()">Participar en el Tour</button>

  <button *ngIf="event.home" ion-button block (click)="guardar()" >Guardar</button>

  
</ion-content>

